body {
    padding: 0;
    margin: 0;
}

#cards {
    /* display: flex; */
    height: 80vh;
    position: relative;
}


.card {
    --spacing: 4rem;
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: #fff;
    border: solid 3px #232323;
    z-index: 3;
    padding: 2rem;
    box-sizing: border-box;
}

.card:nth-child(2) {
    top: calc(var(--spacing) * 1);
    background-color: red;
    z-index: 2;
}

.card:nth-child(3) {
    top: calc(var(--spacing) * 2);
    background-color: blue;
    z-index: 1;
}