body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    /* Grid generator start */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    /* Grid generator end */
    max-height: 60vh;
    width: 60vw;
    aspect-ratio: 1/1;
}

figure {
    position: relative
}

img {
    position: absolute;
    height: 100%;
    width: 100%;
}


figure[data-grid="img-1"] {
    grid-area: 1 / 1 / 7 / 7;
}

figure[data-grid="img-2"] {
    grid-area: 1 / 7 / 4 / 10;
}

figure[data-grid="img-3"] {
    grid-area: 4 / 7 / 7 / 10;
}

figure[data-grid="img-4"] {
    grid-area: 7 / 1 / 10 / 4;
}

figure[data-grid="img-5"] {
    grid-area: 7 / 4 / 10 / 7;
}

figure[data-grid="img-6"] {
    grid-area: 7 / 7 / 10 / 10;
}