* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

nav {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 1.2rem;
}

.nav-links a {
    text-decoration: none;
    color: #252525;
    font-weight: bold;
}

.nav-item {
    position: relative
}

.active-nav {
    height: 3px;
    background: rgb(125, 125, 199);
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}